body {
  padding-top: 100px;
  background: #fff;
  /* font-family: 'Raleway', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
  padding: 0;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Helvetica;
}

a{
  text-decoration: none !important;
}


.logo{
  border: 1px solid black;
  padding: 1rem;
  width: fit-content;
}

.dlink{
  padding: 0 5px;
}

.container{
  /* width: 60%; */
  margin: auto;
  text-align: justify;
}

a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #CD4F00;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #FF8A41;
}


/*************************
*******Header******
**************************/

.navbar-default .navbar-nav>li>a{
color: #020202;
} 
#main-nav.navbar-default {
background: #FFF;
}





.myCard{
  /* box-shadow: 0 0 3px 0 rgb(0 0 0 / 26%); */
  border-radius: 21px;
  width:65%;
  padding: 20px 30px;
  background-color: rgb(248, 248, 248);
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
  /* transition: opacity 500ms ease 0s; */
  /* transition: top ease 0.4s; */
  position: relative;
  top:0
}

.myCard:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 10px;
}

@media (max-width:600px){
  .myCard{
    width: 80%;
  }
}

@media (min-width:600px){
  .myCard{
    width: 70%;
  }
}


section{
  /* height: 100vh; */
  font-size: 1.3rem;
  padding-bottom: 100px;
  padding-top: 111px;

}


@media (max-width:500px) {
  section{
    font-size: 1.1rem;
  }
}

#side>ul *{
  color: var(--bs-primary) !important;
  transition: none;
}

#side>ul *:hover{
  color: var(--bs-green) !important
}

.nav-link{
transition: none;
}
.nav-link.active{
  /* color: #cd5001 !important */
  color: white !important;
  background-color: var(--bs-primary);
  border-radius: 5px;
}

#homeMain{
  padding-bottom: 100px;
  overflow: hidden;
  height: 100vh;

  color:rgb(0, 0, 0);
  /* margin-top: 100px; */
  font-weight: bold;
}


.tag_line{
  position: absolute;
    top: 50%;
    right: 0;
    margin:0 50px 50px 0;
}
#homeMain::after{
  
  position: absolute;
  content: '';
  background: url('../images/screenshot.gif') no-repeat center center;
  background-size:contain;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.9;
  margin-top: 80px;
  display: block;
}
#homeMain.item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#homeMain.banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
}
#homeMain h2 {
  font-size: 2.5rem;
  text-align: right;  
}
#homeMain h2 b{
color:#F9690E;
}
#homeMain p { 
  font-size: 1.5rem; 
margin-bottom:20px;
line-height:35px; 

  text-align: right;}
#homeMain a{
width: fit-content;
margin: 0;
display: block;
/* background: transparent; */
border: 2px solid #fff;
float: right;
}
#homeMain a:hover{
text-align: center;
width: fit-content;
margin: 0 auto;
display: block;
background: #F9690E;
border: 2px solid #F9690E;
color: #FFF;
}
#homeMain.banner-inner h2 > span {
  color: #45aed6;
}
#homeMain.banner-inner .btn {
  margin-top: 10px;
} 

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #222222;
}


.myImage{
  border-radius: 50%;
  width: 200px;
}

@media (min-width:400px){
.navbar_container{
  padding-left: 10px;
}

}
@media (max-width:400px){
  .myImage{
  width: 80%;
}


.brand_name{
  font-size: 1rem;
}

#homeMain h2{
  font-size: 1.5rem;
}
#homeMain p{
  font-size: 1rem;

}
#homeMain a{
  font-size: 1rem;
}
}





@media (min-width:450px){
  .imageContainer{
    width: 400px;
  }
}


@media (max-width:300px){
  .brand_name{
    display: none;
  }
  
}



.brand_name{
  color: #706c6c; font-weight: 700;
}
.brand_name:hover{
  color: #706c6c; font-weight: 700;
}





@media (max-width:500px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}

@media (min-width:500px){
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
}




