*{
    -webkit-user-select: none;
}

html {
    box-sizing: border-box;
}

body {
    float: left;
    width: 98.5%;
    overflow-x: hidden;
}
a {
    margin: 5px;
}

#slider{
    cursor: pointer; 
}

#custom-handle{
    cursor: grab;
}

#custom-handle:active{
    cursor: grabbing;
}


select {
    width: 3pc;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer; 
}

input[type=text] {
    margin-right: 10px;
    width: 7pc;
}

.scatterlayer .trace:first-of-type .points path {
    pointer-events: all;
}

#header {
    font-style: italic;
    font-size: 25px;
    color: #000000;
    background-color: #d2e0ea;
    text-align: center;
}

#status {
    font-size: 21px;
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-right: 10px;
    background: #3f3e3e;
    color:#fff;
    font-size: large;
    border-top-right-radius: 5px;
    box-shadow: 0 0 10px #000;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #babdc1;
    height: 18px;
    font-size: 13px;
}


/*.basediv{
    position: relative;
    display: inline-block;
}*/

.container {
    display: table;
    margin: 0 auto;
    background: #ffffff
}

.parent {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.basediv {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;


}

.floatdiv {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #ffffff;*/
    width: 37pc;
}


.borders {
    padding-top: 1.5px;
    padding-bottom: 1.5px;

    border: 1px solid black;
    margin-bottom: 5px;
    width: 37pc;
}

#figurecontainer {
    margin: 0px;
    width: 100%;
    margin-right: 1pc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#drag {
    margin-top: 10px;
}


#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background: #4CAF50;
    color: #ffffff;
}


#slider {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 1.5pc;
    margin-left: 1.5pc;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e0e0e0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    white-space:nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


#full {
  transition: margin-left .5s;
}

.lines :hover{
background-color: rgb(219, 55, 55);
}
